button, .main-button, .standard-button {
  margin-bottom: 20px;
  padding: 5px 10px;
  color: #fff;
  border-radius: 2px;
  font-weight: 600;
  font-size: 18px;
  outline: none;
  display: inline-block;
  cursor: pointer;
  i {
    margin-right: 5px;
  }
}

.standard-button {
  background: $brand;
  border: 1px solid lighten($brand, 20%);

  &:hover, &:focus {
    color: #fff;
    background: darken($brand, 5%);
  }
}

.main-button {
  background: $brand;
  border: 1px solid lighten($brand, 20%);

  &:hover, &:focus {
    color: #fff;
    background: darken($brand, 5%);
  }
}

.save-button {
  background: $brand-secondary;
  border: 1px solid lighten($brand-secondary, 10%);

  &:hover, &:focus {
    color: #fff;
    background: darken($brand-secondary, 10%);
  }
}

.navBtn {
  float: right;
}

.house {
  @media screen and (max-width: 750px) {
    display: none;
  }
}
