body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Cabin', sans-serif;
  background: #fff;
  color: #333;
}

header {
  // height: 60px;
  position: relative;

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    h1 {
      margin: 0;
    }
    .navLinks {
      a {
        &.standard-button {
          margin: 3px;
        }
      }
    }
  }
}

i {
  margin-right: 5px;
}

main {
  padding-top: 30px;
  padding-bottom: 50px;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover, &:focus {
    color: inherit;
    text-decoration: none;
    outline: none;
  }
}

h1 {
  margin: 20px 0 0 0;
  padding: 0;
  font-size: 50px;
  letter-spacing: -5px;
  // font-family: 'Righteous', cursive;
  // line-height: 145px;
  color: black;
}

h2 {
  margin: -18px 0 0 10px;
  font-size: 20px;

  span {
    font-size: 22px;
    font-weight: bold;
  }
}
